html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    text-align: center;
    box-shadow: #232d4c 0px 2px 8px;
}

body {
    background-color: #0f0a15;
    color: #548ef3;
}

nav ul li {
    text-align: center;
    display: inline;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;   
    box-shadow: #232d4c 0px 3px 8px;
}
nav {
    text-align: center;
}

nav a:link {
    color: #5c7fa3;
}

nav a:visited {
    color: #344873;
}

nav a:hover {
    color: #021171;
}

nav a {
    transition: color 0.5s ease-out;
    text-decoration: none;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

footer {
    text-align: center;
}

section {
    border: 2px solid #548ef3;
    margin: 20px;
    padding: 10px;
    box-shadow: #232d4c 0px 3px 8px;
}
main {
    height: auto;
}
.breadhero {
    height: 300px;
    background-image: url('BreadSurvival_Logo.png');
    background-repeat: no-repeat;
    background-size: 10% 100%;
    background-position: left;
}
h4 {
    text-align: right;
}
h5 {
    text-align: left;
}
table {
    border: 2px solid #3399cc;
    border-collapse: collapse;
    padding: 8px;
    border: 1px solid lightgray;
    width: 100%;
    box-shadow: #232d4c 0px 3px 8px;
}

td, th {
    padding: 0.5em;
    border: 2px solid #3399cc;
    text-align: left;
}

td {
    text-align: center;
}

.text {
    text-align: left;
    padding: 0.5em;
}
